.comment_box {
  width: 100%;
  height: 50px;
  overflow: scroll;
  margin-bottom: 5px;
  .comment {
    display: flex;
    justify-content: space-between;
    height: 25px;
    #commentOut {
      margin-right: 5px;
    }
  }
}
