.friendsReply {
  position: relative;
  margin-bottom: 5px;
  padding-left: 15px;

  .friendsID {
    padding-right: 10px;
    font-weight: 700;
  }

  .fa-trash-alt {
    position: absolute;
    right: 20px;
    color: white;
    font-size: 15px;
  }

  .friendsReply:hover .fa-trash-alt {
    color: #9b9b9b;
  }
}
