.aside-cheoljin {
  position: sticky;
  top: 100px;
  width: 300px;

  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    img {
      width: 56px;
      height: 56px;
      margin-right: 36px;
      border-radius: 50%;
    }
  }

  .aside-board {
    width: 320px;
    border: 1px solid #dbdbdb;
    padding: 16px;
    margin-bottom: 32px;
    background-color: #fff;

    .aside-board__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      span:first-child {
        color: #8e8e8e;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
      }

      span:last-child {
        color: #262626;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .aside-board__content {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .border {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        margin-right: 12px;
        border-radius: 50%;
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }
      a {
        transition: text-decoration 200ms ease-in;

        &:hover {
          text-decoration: underline;
        }

        .other-profile {
          width: 32px;
          height: 32px;
          margin-right: 12px;
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }

      span {
        display: block;

        &:first-child {
          font-size: 14px;
          line-height: 18px;
        }

        &:last-child {
          color: rgb(142, 142, 142);
          font-size: 12px;
          line-height: 14px;
        }
      }

      button {
        margin-left: 65px;
        color: #0095f6;
        font-size: 12px;
      }
    }
  }

  .footer {
    ul {
      margin-bottom: 12px;

      li {
        display: inline-block;
        color: #c7c7c7;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;

        &::after {
          content: '•';
        }

        &:last-child::after {
          content: '';
        }

        a {
          color: #c7c7c7;
        }
      }
    }

    span {
      color: #c7c7c7;
      font-size: 12px;
    }
  }
}
