.loginPalanbyul {
  main {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 490px;
    margin: 100px auto;
    padding: 50px 0;
    border: #efefef solid 2px;
    text-align: center;

    .logo {
      margin-bottom: 50px;
      font-size: 50px;
      font-family: 'Lobster', cursive;
    }

    input {
      height: 45px;
      width: 300px;
      margin-bottom: 10px;
      padding-left: 10px;
      background-color: #fafafa;
      border: #efefef 1px solid;
      border-radius: 6px;
    }

    .loginBtn {
      width: 300px;
      height: 35px;
      margin-bottom: 100px;
      border-radius: 6px;
      border: white;
      background-color: #0095f6;
      color: white;
      font-size: 17px;
      cursor: pointer;

      &:disabled {
        background-color: #c4e1fb;
        cursor: auto;
      }
    }

    footer {
      color: #345e87;
    }
  }
}
