@mixin img-style {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

@mixin text-bold {
  font-weight: bold;
}

// story, article section
@mixin main-right-article {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #efefef;
  background-color: white;
}

@mixin feeds-bottom-imgStyle {
  background: transparent;
  width: 30px;
}

@mixin main-right-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

@mixin right-article {
  margin-top: 10px;
  height: 50px;
  display: inline-flex;
  align-items: center;
}

@mixin feeds-profile {
  width: 100%;
  height: 50px;
  display: inline-flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  width: 950px;
  position: relative;

  .main {
    width: 950px;
    background-color: #fafafa;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 60px;

    .feeds {
      width: 600px;
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      .article {
        width: 580px;
        background-color: white;
        border: 1px solid #efefef;

        .title {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: space-between;
          padding: 10px 20px 0 20px;

          .title-left {
            width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            .feeds-profile {
              @include feeds-profile;
              img {
                @include img-style;
              }
            }
            .user-id {
              @include text-bold;
            }
          }

          .title-right {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .feeds-image {
          width: 550px;
          height: 500px;
          margin: 10px auto;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .image-bottom {
          width: 550px;
          height: 30px;
          margin: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .feeds-icon {
            width: 150px;
            margin-left: 20px;

            img {
              @include feeds-bottom-imgStyle;
            }
          }
          .bookmark {
            img {
              @include feeds-bottom-imgStyle;
            }
          }
        }

        .comment-title {
          width: 550px;
          height: 30px;
          margin: 0 auto;
          display: inline-flex;
          align-items: center;

          .mine-profile {
            display: inline-block;

            img {
              width: 25px;
              height: 25px;
              border: none;
              border-radius: 50%;
              margin: 5px 10px 0 15px;
            }
          }

          .comment-tit {
            display: inline-block;

            .user-id {
              @include text-bold;
            }

            .bold {
              @include text-bold;

              .like-number {
                @include text-bold;
              }
            }
          }
        }

        .art-comment {
          width: 550px;
          margin: 10px auto;

          .comment-nth {
            position: relative;

            .user-id {
              @include text-bold;
              margin-right: 5px;
            }

            .comment-like {
              display: inline-block;
              position: absolute;
              right: 15px;
            }

            .color-light {
              color: #999999;
              margin-left: 5px;
            }
          }
        }

        .comment-plus {
          width: 100%;
          height: 35px;
          margin: auto;
          align-items: center;
          display: flex;
          justify-content: space-between;
          background-color: white;
          border: 1px solid #dfdfdf;

          input {
            width: 500px;
            border: none;
            outline: none;
            margin-left: 20px;
          }

          .comment-btn {
            border: none;
            outline: none;
            color: #c8e3fc;
            margin-right: 20px;
            background-color: white;
          }
        }
      }
    }
    // main-right
    .main-right {
      width: 350px;
      padding-top: 50px;

      .feeds-profile {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        display: inline-flex;
        align-items: center;
        padding: 0 10px;

        div {
          margin: 10px;
          img {
            @include img-style;
          }
        }

        div {
          .user-id {
            @include text-bold;
          }

          .color-light {
            color: #999999;
          }
        }
      }
      .story {
        @include main-right-article;

        .story-title {
          @include main-right-title;

          .color-light {
            color: #999999;
          }
          .bold {
            @include text-bold;
          }
        }

        .story-main {
          .right-article {
            margin-top: 10px;
            width: 100%;
            height: 50px;
            display: inline-flex;
            align-items: center;
            div {
              margin: 10px;
              img {
                @include img-style;
              }
            }
            div {
              .user-id {
                font-weight: bold;
              }
              .color-light {
                color: #999999;
              }
            }
          }
        }
      }

      .suggest {
        @include main-right-article;

        .suggest-title {
          @include main-right-title;

          .color-light {
            color: #999999;
          }
          .bold {
            @include text-bold;
          }
        }

        .suggest-main {
          .suggest-nth {
            margin-top: 10px;
            width: 100%;
            height: 50px;
            display: inline-flex;
            align-items: center;

            .right-article {
              width: 80%;
              height: 50px;
              display: inline-flex;
              align-items: center;
              div {
                margin: 10px;
                img {
                  @include img-style;
                }
              }
              div {
                .user-id {
                  font-weight: bold;
                }
                .color-light {
                  color: #999999;
                }
              }
            }
            .follow {
              color: #3a98f0;
              font-weight: bold;
            }
          }
        }
      }
      .footer {
        margin: 20px 0;
        color: #999999;
      }
      .color-light {
        color: #999999;
      }
    }
  }
}
