@import '../../../styles/eunjungMixin.scss';

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: 950px;
  position: relative;

  .main {
    background-color: #fafafa;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 30px;

    .main-right {
      width: 350px;
      padding-top: 50px;
    }
  }
}
